<nav class="border-b-gray-300 border-b bg-white">
  <div class="mx-auto flex justify-between items-center p-4 max-w-[90rem]">
    <div class="flex items-center gap-1">
      <img src="/icons/server-outline.svg" class="w-12">
      <h1 class="text-2xl font-bold">FileStore</h1>
    </div>
  
    <div>
      <% if ( locals.currentUser ) {%>
        <div class="relative group">
          <button class="box-content py-3 px-4 border-0 font-medium text-lg"><%= currentUser.username%></button>
          
          <div class="hidden absolute z-10 bg-white p-4 w-30 hover:bg-gray-300 border border-gray-300 group-hover:block">
            <a href="/log-out" class="no-underline text-center ">Log out</a>
          </div>
        </div>
      <% } else { %>
        <a href="/log-in" class="font-medium text-lg">Log In</a>
      <% } %>
    </div>
  </div>
</nav>